<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
      <a href="/courses">Courses List</a>
    <br>
     <a href="/assignment_types">Assignments Types</a>
    <br>
   <a href="/assignments">Assignments List</a>
    <br>
     <%if @current_user != nil %>
     <a href="/user_sign_out">Sign out</a>
     <%end%>
 
    <%= yield %>
  </body>
</html>
